<div class="flex flex-wrap items-center">
<div class="w-full lg:w-1/2 my-4 text-lg text-pretty">
<p class="my-2">
    ¡Hola! Soy Facundo López Chaves, un apasionado estudiante de Ingeniería en Sistemas de Información y aspirante a <span class="text-blue-400">desarrollador de software enfocado en el Back-End</span>.
</p>
<p class="my-2">
    Actualmente estoy en mi <span class="text-blue-400">tercer año de Ingeniería en Sistemas de Información</span> en la Universidad Tecnológica Nacional. Durante este tiempo, he adquirido habilidades sólidas en programación y gestión de sistemas de información empresariales.
</p>
<p class="my-2">
    Soy una persona <span class="text-blue-400">sociable y colaborativa</span> que disfruta trabajando en equipo. Mi enfoque disciplinado y orientado a objetivos me impulsa a buscar la eficiencia y la calidad en todo lo que hago. Mi objetivo como desarrollador es crear soluciones innovadoras que satisfagan las necesidades del cliente y superen sus expectativas.
</p>
</div>
    <div class="w-full lg:w-1/2">
    <img src="/src/images/yo2.jpg" class="rounded-full size-72 mx-auto shadow-lg transition hover:shadow-blue-400 hover:-translate-y-1" alt="Foto de Facundo"></div>
</div>