<button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium rounded-full group bg-gradient-to-br from-cyan-500 to-blue-500 transition hover:scale-105">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 rounded-full">
    Disponible para trabajar
    </span>
    </button>