---
import HTML from './icons/HTML.astro'
import CSS from './icons/CSS.astro'
import JS from './icons/JS.astro'
import GitHub from './icons/GitHub.astro'
import Asstro from './icons/Asstro.astro'
import Bun from './icons/Bun.astro'
import Node from './icons/Node.astro'
import Npm from './icons/Npm.astro'
import VS from './icons/VS.astro'
import WordPress from './icons/WordPress.astro'
---

<div class="flex flex-wrap">
    <div class="flex w-full mb-16">
        <div class="w-1/2">
        <h3 class="text-center">Front-End</h3>
        <div class="flex items-center justify-center">
            <HTML class="size-12 m-7"></HTML>
            <CSS class="size-12 m-7"></CSS>
            <JS class="size-12 m-7"></JS>
        </div>
        </div>
        <div class="w-1/2">
        <h3 class="text-center">Back-End</h3>
        <div class="flex items-center justify-center">
            <Node class="size-12 m-7"></Node>
        </div>
    </div>
    </div>
    <div class="flex w-full">
        <div class="w-1/2">
            <h3 class="text-center">Aprendiendo</h3>
            <div class="flex items-center justify-center">
                <WordPress class="size-12 m-7"></WordPress>
            </div>
            </div>
            <div class="w-1/2">
            <h3 class="text-center">Herramientas</h3>
            <div class="flex flex-wrap items-center justify-center">
                <VS class="size-12 m-7"></VS>
                <Npm class="size-12 m-7"></Npm>
                <Bun class="size-12 m-7"></Bun>
                <Asstro class="size-12 m-7"></Asstro>
                <GitHub class="size-12 m-7"></GitHub>
            </div>
    </div>
</div>